.app_container{
    display:flex;
    flex-direction: column;
    width: 100%;
}
.Sidebar {
    position: fixed; /* or 'absolute' depending on layout needs */
    top: 50px;
    left: 30px;
    width: 210px; /* Adjust width as needed */
    height: 100%;
    z-index: 1000; /* High z-index to ensure it's on top */
}

/* Adjust the main content container to not overlap the sidebar */
.content_wrapper {
    margin-left: 210px; /* Adjust this value to match the sidebar width */
    width: calc(100% - 210px); /* Adjust the width to account for the sidebar */
    min-height: 100vh; /* Full viewport height */
    z-index: 1; /* Lower z-index than sidebar */
    padding: 20px; /* Optional padding for spacing */
}

.list_content{
    display: flex;
    flex-direction: row;
}



.list{
    list-style-type: decimal !important;  /* Confirm this to ensure numbers should appear */
    padding-left: 40px;        /* Increase padding to ensure numbers are visible */
    top: 0;                    /* Positioning inside relative container */
    left: 0;
    right: 0;
    background-color: transparent;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Translucent background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
  


.display_box {
    position: relative;
    height: 30vh;
    width: 50vw;
    margin-left: 5vw;
    margin-top: 2vh;
    z-index: 5;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding-right: 20px; /* Adds padding inside the box to prevent content from touching the edges */
}
.search-box{
    position: relative;
    width: 25vw;
    height: 5vh;
    margin-top: 25vh;
    margin-left: 5vw;
}
.search-container{
    display: flex;
    flex-direction: row;
}
.add-button {
    position: relative;
    margin-top: 33vh;
    margin-left: 22vw;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
}

.add-button:hover {
    background-color: #0056b3;
}


.courses{
    display: flex;
    flex-direction: column;
}
.list_table td {
    padding-top:20px; 
    padding-left:30px; 
    padding-right:30px; 
  }

.display_box::-webkit-scrollbar {
    width: 12px;  
}


.display_box::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
}


.display_box::-webkit-scrollbar-button {
    display: none; 
}


.display_box::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}