.app_container{
    display:flex;
}

.list_content{
    display: flex;
    flex-direction: row;
}
.list{
    list-style-type: decimal !important;  /* Confirm this to ensure numbers should appear */
    padding-left: 40px;        /* Increase padding to ensure numbers are visible */
    top: 0;                    /* Positioning inside relative container */
    left: 0;
    right: 0;
    background-color: transparent;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Translucent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 2;
  }
  


.display_box {
    position: relative;
    height: 30vh;
    width: 50vw;
    margin-left: 20vw;
    margin-top: 10vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding-right: 20px; /* Adds padding inside the box to prevent content from touching the edges */
}
.search-box{
    position: relative;
    width: 25vw;
    height: 5vh;
    margin-top: 33vh;
    margin-left: 20vw;
}
.courses{
    display: flex;
    flex-direction: column;
}
.list_table td {
    padding-top:20px; 
    padding-left:30px; 
    padding-right:30px; 
  }

.display_box::-webkit-scrollbar {
    width: 12px;  
}


.display_box::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
}


.display_box::-webkit-scrollbar-button {
    display: none; 
}


.display_box::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}